 /* footer */
 footer {
    display: flex;
    height: 80px;
    justify-content: center;
    background-color: black;
    color: white;
    
    

  }

  .footer_center{
      text-align: center;
  }


 /* スマホ用 */
 /*iphone  */
@media screen and (max-width: 480px) {

  /* footer */
  footer {
    display: flex;
    justify-content: center;
    font-size: small;
  }

}

@media screen and (max-width: 320px)
{
  footer {
    display: flex;
    justify-content: center;
    font-size: x-small;
  }
}







