#navbarsExample08{margin-right: 30px;
                  font-weight: bold;}
.main_slider{
             width: 1020px;;
             height:450px;
             display: flex;
             justify-content: center;
            }
.container{margin-top: 20px;}

.logo{position: absolute;
      top: -70px;
      left: -50px;}
.text_image{
            position: absolute;
            top: 238px;
            right: -15px;
            }
.sub_explanation{margin-left: 150px;
                 margin-top: 10px;
                font-size: 25px;}